<h1>Halliburton logo</h1>
<nav>
  <a class="button" routerLink="/getbutton" routerLinkActive="activebutton">Get button</a> |
  <a class="button" routerLink="/postbutton" routerLinkActive="activebutton">Post button</a>
</nav>
<router-outlet></router-outlet>

<div style="display: none;">

<app-getbutton></app-getbutton>
<app-postbutton></app-postbutton>

<nav>
  <a class="button" routerLink="/getbutton">Get button</a> 
  <a class="button" routerLink="/postbutton">Post button</a>
</nav>


</div>